@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-1: #272829;
    --color-bg-2: #61677a;
    --color-bg-3: #d8d9da;
    --color-bg-4: #fff6e0;
    --color-text-1: #ffffff;
  }
}

body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}
